<!doctype html>

<form action="https://powerful-forest-97817.herokuapp.com/" method="post">
 <input type="text" name="busqueda" placeholder="Search..."> <input type="submit" value="Search"><br>
</form>

<html>
   <body>
     <h1> Star Wars </h1>
     <h2> Peliculas </h2>
      <table align = left>
        <tr>
          <th> Nombre </th>
          <th> Año </th>
          <th> Director </th>
          <th> Productor </th>
          <th> Episodio </th>
        </tr>
        {% for key, value in result.items() %}

        <tr>

          <td><a href =  "https://powerful-forest-97817.herokuapp.com/peliculas/{{value["episode_id"]}}" >{{value["title"]}}</a></td>
          <td>{{value["release_date"]}}</td>
          <td>{{value["director"]}}</td>
          <td>{{value["producer"]}}</td>
          <td>{{value["episode_id"]}}</td>

        </tr>
          {% endfor %}
      </table>

   </body>
</html>
