<!doctype html>
<html>

<head>
  <title>SWAPI</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='styles/main.css') }}">
  <style>
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

li {
  display: inline;
}
</style>
</head>

   <body>
     <ul>
      <li><a href="https://powerful-forest-97817.herokuapp.com/">Home</a></li>
    </ul>

     <!-- Header -->
     			<header id="header">
     				<div class="logo"><a href="#">{{result["name"]}}</a></div>
     			</header>

    <!-- Main -->
    <section id="main">
      <div class="inner">
        <div class="container">

          <section  class="wrapper style1">
          <header class ="special">
            <h2>General Information</h2>
          </header>
          <div class="content">
            <p>Model: {{result["model"]}}</p>
            <p>Class: {{result["starshipClass"]}}</p>
            <p>Max Speed: {{result["maxAtmospheringSpeed"]}}</p>
            <p>Cargo Capacity: {{result["cargoCapacity"]}}</p>
            <p>Crew: {{result["crew"]}}</p>
            <p>Hyperdrive Rating: {{result["hyperdriveRating"]}}</p>
            <p>Cost: {{result["costInCredits"]}}</p>
            <p>MGLT: {{result["MGLT"]}}</p>
            <p>Length: {{result["length"]}}</p>
          </div>
          </section>

        <section  class="wrapper style1">
        <header class ="special">
          <h2>Films</h2>
        </header>
        <div class="content">
          {% for pelicula in peliculas%}
          <p><a href =  "https://powerful-forest-97817.herokuapp.com//peliculas/{{pelicula["episodeID"]}}">{{pelicula["title"]}}</p></a>
          {% endfor %}
        </div>
        </section>



        <section  class="wrapper style1">
        <header class ="special">
          <h2>Pilots</h2>
        </header>
        <div class="content">
          {%for piloto in pilotos%}
          <p><a href = "https://powerful-forest-97817.herokuapp.com//personajes/{{piloto["id"]}}">{{piloto["name"]}}</p></a>
          {% endfor %}
        </div>
        </section>


      </div>

      </div>
    </section>

   </body>
</html>
