<!doctype html>
<html>

<head>
  <title>SWAPI</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='styles/main.css') }}">
  <style>
    ul {
      list-style-type: none;
      margin: 0;
      padding: 0;
    }

    li {
      display: inline;
    }
  </style>
</head>

   <body>
     <ul>
      <li><a href="http://127.0.0.1:5000/">Home</a></li>
    </ul>

     <!-- Header -->
     			<header id="header">
     				<div class="logo"><a href="#">{{result["name"]}}</a></div>
     			</header>

    <!-- Main -->
    <section id="main">
      <div class="inner">
        <div class="container">

          <section  class="wrapper style1">
          <header class ="special">
            <h2>General Information</h2>
          </header>
          <div class="content">
            <p>Height: {{result["height"]}}</p>
            <p>Weight: {{result["mass"]}}</p>
            <p>Hair Color: {{result["hairColor"]}}</p>
            <p>Skin Color: {{result["skinColor"]}}</p>
            <p>Birth Date: {{result["birthYear"]}}</p>
            <p>Gender: {{result["gender"]}}</p>
            <p><a href = "http://127.0.0.1:5000/planetas/{{result["homeworld"]["id"]}}">Homeworld: {{result["homeworld"]["name"]}}</p></a>
          </div>
          </section>

        <section  class="wrapper style1">
        <header class ="special">
          <h2>Films</h2>
        </header>
        <div class="content">
          {% for pelicula in peliculas%}
          <p><a href =  "http://127.0.0.1:5000/peliculas/{{pelicula["episodeID"]}}">{{pelicula["title"]}}</p></a>
          {% endfor %}
        </div>
        </section>



        <section  class="wrapper style1">
        <header class ="special">
          <h2>Starships</h2>
        </header>
        <div class="content">
          {%for nave in naves%}
          <p><a href =  "http://127.0.0.1:5000/naves/{{nave["id"]}}">{{nave["name"]}}</p></a>
          {% endfor %}
        </div>
        </section>


      </div>

      </div>
    </section>

   </body>
</html>
