<!doctype html>
<html>

<head>
  <title>SWAPI</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='styles/main.css') }}">
  <style>
    ul {
      list-style-type: none;
      margin: 0;
      padding: 0;
    }

    li {
      display: inline;
    }
  </style>
</head>

   <body>
     <ul>
      <li><a href="http://127.0.0.1:5000/">Home</a></li>
    </ul>

     <!-- Header -->
     			<header id="header">
     				<div class="logo"><a href="#">{{result["name"]}}</a></div>
     			</header>

    <!-- Main -->
    <section id="main">
      <div class="inner">
        <div class="container">

          <section  class="wrapper style1">
          <header class ="special">
            <h2>General Information</h2>
          </header>
          <div class="content">
            <p>Rotation Period: {{result["rotationPeriod"]}}</p>
            <p>Orbital Period: {{result["orbitalPeriod"]}}</p>
            <p>Diameter: {{result["diameter"]}}</p>
            <p>Climates: {{result["climates"]}}</p>
            <p>Gravity: {{result["gravity"]}}</p>
            <p>Terrains: {{result["terrains"]}}</p>
            <p>Surface Water: {{result["surfaceWater"]}}</p>
            <p>Population: {{result["population"]}}</p>
          </div>
          </section>

        <section  class="wrapper style1">
        <header class ="special">
          <h2>Films</h2>
        </header>
        <div class="content">
          {% for pelicula in peliculas%}
          <p><a href =  "http://127.0.0.1:5000/peliculas/{{pelicula["episodeID"]}}">{{pelicula["title"]}}</p></a>
          {% endfor %}
        </div>
        </section>



        <section  class="wrapper style1">
        <header class ="special">
          <h2>Residents</h2>
        </header>
        <div class="content">
          {%for residente in residentes%}
          <p><a href = "http://127.0.0.1:5000/personajes/{{residente["id"]}}">{{residente["name"]}}</p></a>
          {% endfor %}
        </div>
        </section>


      </div>

      </div>
    </section>

   </body>
</html>
